# Scrapping data using Twitter Api

In [160]:
import requests
import pandas as pd
import twitter

#Defininig all the required keys

CONSUMER_KEY = 'PygTq2LJKzmNdchmmqThc3z8k'
CONSUMER_SECRET = 'JJ0E8dzMA8uM3XAgwgH8ZnCZ3oTkmrdlPwW1gEp64soycG3KJ6'
OAUTH_TOKEN = '124991856-9lo4HkqRl0Qdm3U0jtwsLCgb2MwxJYp67am3AVV2'
OAUTH_TOKEN_SECRET = 'I0OEwnH89gyHBgkQF8kFubSF8r2VoUMmgqBjJesSFK4LB'

auth = twitter.oauth.OAuth(OAUTH_TOKEN, OAUTH_TOKEN_SECRET,
                          CONSUMER_KEY, CONSUMER_SECRET)

twitter_api = twitter.Twitter(auth=auth)
print(twitter_api)

#List of companies from scrapped data

flight_lists = ["SouthwestAir","JetBlue","Delta","HawaiianAir","AlaskaAir", "AmericanAir",
                "Allegiant","United","VirginAmerica","FlyFrontier"]

#List to store scraped value data in:

airplane_name = []
twitter_id = []
followers = []
friends = []
verify = []

for i in flight_lists:
    twitter_id.append(i)
    airplane_name.append(twitter_api.statuses.user_timeline(screen_name=i)[1]['user']['name'])
    followers.append(twitter_api.statuses.user_timeline(screen_name = i)[1]['user']['followers_count'])
    friends.append(twitter_api.statuses.user_timeline(screen_name = i)[1]['user']['friends_count'])
    verify.append(twitter_api.statuses.user_timeline(screen_name = i)[1]['user']['verified'])

#Creating dataframe and storing the scrapped data
    
Twitter_Specifications = pd.DataFrame({
             'Airplane_Name' : airplane_name,
             'Twitter_ID' : twitter_id,
             'Followers_Count' : followers,
             'Friends_Count' : friends,
             'Verified' : verify})

Twitter_Specifications

<twitter.api.Twitter object at 0x1253e20b8>

        Airplane_Name     Twitter_ID  Followers_Count  Friends_Count  Verified
0  Southwest Airlines  SouthwestAir   2119341          36769          True
1  JetBlue Airways     JetBlue        1958553          107364         True
2  Delta               Delta          1491700          39819          True
3  Hawaiian Airlines   HawaiianAir    179860           2738           True
4  Alaska Airlines     AlaskaAir      356164           5622           True
5  American Airlines   AmericanAir    1539664          106612         True
6  Allegiant           Allegiant      54115            3021           True
7  United Airlines     United         1012234          44821          True
8  Virgin America      VirginAmerica  808534           4              True
9  Frontier Airlines   FlyFrontier    107958           1879           True

# Creating Twitter Table

In [158]:
import sqlite3
from sqlite3 import Error

conn = sqlite3.connect('best_airlines.db')
cursor = conn.cursor()

cursor.execute(""" CREATE TABLE IF NOT EXISTS twitter
                  (Airplane_Name Varchar(250) PRIMARY KEY, Twitter_ID Varchar(250), Followers_Count int (11), 
                   Friends_Count int(11), Verified Varchar(250))""")

In [161]:
# Storing data from dataframe to SQL 
Twitter_Specifications.to_sql(name='twitter',con=conn,index=False, if_exists='append')

# Showing twitter table in dataframe

In [162]:
twitter_table=pd.read_sql("SELECT Airplane_Name,Twitter_ID,Followers_Count,Friends_Count,Verified FROM twitter;",con = conn)
twitter_table

        Airplane_Name     Twitter_ID  Followers_Count  Friends_Count Verified
0  Southwest Airlines  SouthwestAir   2119341          36769          1
1  JetBlue Airways     JetBlue        1958553          107364         1
2  Delta               Delta          1491700          39819          1
3  Hawaiian Airlines   HawaiianAir    179860           2738           1
4  Alaska Airlines     AlaskaAir      356164           5622           1
5  American Airlines   AmericanAir    1539664          106612         1
6  Allegiant           Allegiant      54115            3021           1
7  United Airlines     United         1012234          44821          1
8  Virgin America      VirginAmerica  808534           4              1
9  Frontier Airlines   FlyFrontier    107958           1879           1

# Getting Airplane Tweets

In [199]:

airplane_name = []
user_list = []
status_list = []
tweetid_list = []
createdat_list = []
fav = []


for i in flight_lists:
    results= twitter_api.statuses.user_timeline(screen_name = i)
    for status in results:
        user_list.append(i)
        airplane_name.append(status['user']['name'])
        status_list.append(status['text'])
        tweetid_list.append(status['id'])
        createdat_list.append(status['created_at'])
        fav.append(status['favorite_count'])
                   
pd.set_option('display.max_colwidth', -1)
df = pd.DataFrame(
    
   {
    'Airplane_Name':airplane_name,
    'Twitter_ID': user_list,
    'Tweet_ID' : tweetid_list,
    'Status': status_list,
    'Fav_Count':fav,
    'Time': createdat_list,
    
   })
df

,Airplane_Name,Twitter_ID,Tweet_ID,Status,Fav_Count,Time
0,Southwest Airlines,SouthwestAir,1103466119048781824,@Cskelly12 Oh no! Did you purchase an Anytime Fare? -Mariam,0,Thu Mar 07 01:23:18 +0000 2019
1,Southwest Airlines,SouthwestAir,1103465762985897984,"@janeebrittany That's what's up! Well done, Brittany. We're glad to welcome you onboard and watch you find that per‚Ä¶ https://t.co/aynjHjXTHx",1,Thu Mar 07 01:21:53 +0000 2019
2,Southwest Airlines,SouthwestAir,1103465528855674881,"@Chasing21_UW81 We limit access to high bandwidth sites, so the WiFi experience is enjoyable for all onboard. -Mariam",0,Thu Mar 07 01:20:58 +0000 2019
3,Southwest Airlines,SouthwestAir,1103464333357416449,"@DJJNH We sincerely regret the difficulties, Jerry. Please reach out to us at 800-435-9792 for assistance with your reservation. -Grayson",0,Thu Mar 07 01:16:13 +0000 2019
4,Southwest Airlines,SouthwestAir,1103463894499000320,"@emmysmomma2132 THERE'S A TRAIN THAT GOES TO HAWAII?! When did that happen? \n*Googles ""Hawaii Train"" * -Adam",0,Thu Mar 07 01:14:28 +0000 2019
5,Southwest Airlines,SouthwestAir,1103461363274285058,@trebienbeauty Sorry for the frustration today &amp; if our check-in experience fell short of expectation. We hope to g‚Ä¶ https://t.co/2v5mYvpSVY,0,Thu Mar 07 01:04:24 +0000 2019
6,Southwest Airlines,SouthwestAir,1103459595027021824,"@GMavrookas We're sincerely sorry for the change in plans, George. Our system show that we are working to get your‚Ä¶ https://t.co/baRh6ENpKI",0,Thu Mar 07 00:57:23 +0000 2019
7,Southwest Airlines,SouthwestAir,1103459387027279873,"@allikae16 No need to miss out, Alli! Be sure to check out our Low Fare Calendar so you get the best price possible‚Ä¶ https://t.co/qafxIoYpha",1,Thu Mar 07 00:56:33 +0000 2019
8,Southwest Airlines,SouthwestAir,1103459353384804352,"@JuggernautMN We regret any frustration with our boarding process. We know it's unique, but we've done some thoroug‚Ä¶ https://t.co/XAVk8ShLes",1,Thu Mar 07 00:56:25 +0000 2019
9,Southwest Airlines,SouthwestAir,1103458497251799040,@Viewfindr2 It's a difficult decision to make significant changes to a market's flight schedule as we know that no‚Ä¶ https://t.co/xcS5F69c95,1,Thu Mar 07 00:53:01 +0000 2019
10,Southwest Airlines,SouthwestAir,1103458137313431552,"@_cathyk Cheers, Cathy! Can't wait to welcome you onboard! -Allison",0,Thu Mar 07 00:51:35 +0000 2019
11,Southwest Airlines,SouthwestAir,1103458054991839232,"@renobie Glad to hear it! Thanks for hanging in there, Renata. -Allison",0,Thu Mar 07 00:51:16 +0000 2019
12,Southwest Airlines,SouthwestAir,1103457675545726976,@TrebleBae Our Low Fare Calendar has lots of great deals! -Mariam,0,Thu Mar 07 00:49:45 +0000 2019
13,Southwest Airlines,SouthwestAir,1103455348126474241,@_Stormae We hope you reach one of those goals. -Adam,0,Thu Mar 07 00:40:30 +0000 2019
14,Southwest Airlines,SouthwestAir,1103454414671474688,"@avfolk Hey, Michael. Sounds like we need a little more information from you. Would you mind DMing your Rapid Rewar‚Ä¶ https://t.co/DgP8Eg2eeE",0,Thu Mar 07 00:36:48 +0000 2019
15,Southwest Airlines,SouthwestAir,1103453459301359616,"@tcmomof2 We absolutely can work some magic! All we ask is that for your security purposes, please delete your twee‚Ä¶ https://t.co/OZixe78rvn",0,Thu Mar 07 00:33:00 +0000 2019
16,Southwest Airlines,SouthwestAir,1103453446236061701,"@sethpriebatsch We appreciate the nice words, as well as the 10 points! Would you mind sending us a DM with your co‚Ä¶ https://t.co/uVE3ru1qHQ",0,Thu Mar 07 00:32:57 +0000 2019
17,Southwest Airlines,SouthwestAir,1103453350631112705,"@AmbarLara18 No need to take a vaca solo, Ambar! I'm sure that you could make some new friends onboard to say Aloha to Hawaii with! -Heather",0,Thu Mar 07 00:32:34 +0000 2019
18,Southwest Airlines,SouthwestAir,1103453187741110272,"@DoubleB72 We got you, Brett! Always a pleasure to have you onboard! -Allison",0,Thu Mar 07 00:31:55 +0000 2019
19,Southwest Airlines,SouthwestAir,1103453068543184896,@AggiePastor86 Nice! Have a Presidente for us. -Adam,1,Thu Mar 07 00:31:27 +0000 2019
20,JetBlue Airways,JetBlue,1103462475943546880,"@AlanRubin57 Yes, your flight will be receiving compensation. Keep an eye on your email for compensation details.",0,Thu Mar 07 01:08:50 +0000 2019
21,JetBlue Airways,JetBlue,1103462044739792899,@NicoleMurray20 We apologize for the inconvenience and will pass on your feedback about our crew.,0,Thu Mar 07 01:07:07 +0000 2019
22,JetBlue Airways,JetBlue,1103461379787362306,@AlannahFantasma It looks like the doors are closing now and we should have you on your way soon.,0,Thu Mar 07 01:04:28 +0000 2019
23,JetBlue Airways,JetBlue,1103459771544412161,"@andrewisnothome Thanks for hanging in there, Andrew! The incoming flight was delayed but has arrived. The plane is‚Ä¶ https://t.co/o0nZhALU7v",0,Thu Mar 07 00:58:05 +0000 2019
24,JetBlue Airways,JetBlue,1103458609613156352,@AlannahFantasma We are sorry to hear your disappointment. What flight number are you on tonight?,0,Thu Mar 07 00:53:28 +0000 2019
25,JetBlue Airways,JetBlue,1103455840776925185,@silencetrees https://t.co/Vq3IXfpcA4,2,Thu Mar 07 00:42:28 +0000 2019
26,JetBlue Airways,JetBlue,1103454716661518338,"@NicoleMurray20 Hey, Nicole! We're sorry to hear you're frustrated. We're showing flight 797 has already landed. Ca‚Ä¶ https://t.co/QtnYveWkLu",0,Thu Mar 07 00:38:00 +0000 2019
27,JetBlue Airways,JetBlue,1103454153077153792,@tomall We will make sure some recognition is given!,1,Thu Mar 07 00:35:45 +0000 2019
28,JetBlue Airways,JetBlue,1103452520758865921,@kjgaff Very good!,0,Thu Mar 07 00:29:16 +0000 2019
29,JetBlue Airways,JetBlue,1103451717658726401,"@amars26 We're sorry to hear that. If you would like to share more details with us about your experiences, please s‚Ä¶ https://t.co/vL21KHShxb",0,Thu Mar 07 00:26:05 +0000 2019
...,...,...,...,...,...,...
170,Virgin America,VirginAmerica,1066964443307941888,@karenBeSounds #AS‚ù§VX -Laura,0,Mon Nov 26 07:58:41 +0000 2018
171,Virgin America,VirginAmerica,1065418417191219200,"@FabworldofElise Elise, your going to want to tag Virgin Atlantic on these. Virgin America does not have anything t‚Ä¶ https://t.co/xME1GmELpj",0,Thu Nov 22 01:35:19 +0000 2018
172,Virgin America,VirginAmerica,1054402839739592706,"@mattkelly84 Flights are available approx. 330 days in advance. We're currently offering flights up to September 17, 2019. ~Angel",1,Mon Oct 22 16:03:21 +0000 2018
173,Virgin America,VirginAmerica,1051164978181545984,@BrianWestbrook We are working on it. They should be completed by the end of 2019. -Maeghan,0,Sat Oct 13 17:37:15 +0000 2018
174,Virgin America,VirginAmerica,1050639975723618304,@IamPascal Best for the best! :) -Laura,0,Fri Oct 12 06:51:04 +0000 2018
175,Virgin America,VirginAmerica,1050354460214611971,@billybankers Hi! Please text our reservations team at 82008. They can confirm if a cancellation fee will apply. -Laura,2,Thu Oct 11 11:56:32 +0000 2018
176,Virgin America,VirginAmerica,1050314805951782912,@RileyLo17 We ‚ù§ our Virgin America! #VX‚ù§AS -Laura,4,Thu Oct 11 09:18:58 +0000 2018
177,Virgin America,VirginAmerica,1050129256511098880,"@itsraraamedeo Hey Maria, sorry for the return flight. I'm glad that your outbound flight was enjoyable minus renti‚Ä¶ https://t.co/YnyW6SLusu",1,Wed Oct 10 21:01:39 +0000 2018
178,Virgin America,VirginAmerica,1046728798698446848,"@pennardarty Capes aren't a part of the uniform, but its a great idea! I'll pass it along :) -Jordan",1,Mon Oct 01 11:49:27 +0000 2018
179,Virgin America,VirginAmerica,1046513744036208642,@alloutnerdyforU I hope you have an amazing flight! #MostWestCoast - Samantha,1,Sun Sep 30 21:34:54 +0000 2018
180,Frontier Airlines,FlyFrontier,1103337542647246849,RT @TCMoulton: This spectacular sunrise made my ridiculously early @FlyFrontier flight from @fly2ohare well worth it. #ilwx https://t.co/Sk‚Ä¶,0,Wed Mar 06 16:52:23 +0000 2019
181,Frontier Airlines,FlyFrontier,1103337362740989952,"RT @wendybco: @FlyFrontier waiting for gate to vacate. At least DEN always has a pretty view, no matter time of day or night. Wonderful fli‚Ä¶",0,Wed Mar 06 16:51:40 +0000 2019
182,Frontier Airlines,FlyFrontier,1103323157275074560,"Sixty-two new flight attendants graduated on Feb. 27, 2019 in Orlando. Welcome to the family Class O1903! https://t.co/Fhwjp907A6",50,Wed Mar 06 15:55:14 +0000 2019
183,Frontier Airlines,FlyFrontier,1103070985639682048,RT @PlanetBlond: Thanks @FlyFrontier we really appreciate the help. We are airport bound and Bobbs is ready to fly one of her favorite airl‚Ä¶,0,Tue Mar 05 23:13:11 +0000 2019
184,Frontier Airlines,FlyFrontier,1103003822941716480,RT @TravelLeisure: Why airplane windows are round https://t.co/g3ggbkjOUx https://t.co/RqsOLxv7cS,0,Tue Mar 05 18:46:18 +0000 2019
185,Frontier Airlines,FlyFrontier,1102971222147690498,This little guy is pretty dam cute! https://t.co/Lp1NAeVlRD,44,Tue Mar 05 16:36:46 +0000 2019
186,Frontier Airlines,FlyFrontier,1102960749251575808,The bird is the word! Fly for $29! https://t.co/TueDEcPa4f https://t.co/sEFSf5jNIE,12,Tue Mar 05 15:55:09 +0000 2019
187,Frontier Airlines,FlyFrontier,1102706558335705089,"@thepointsguy approves, Frontier Airlines is one of the top six best airline credit cards for families in 2019! Wit‚Ä¶ https://t.co/UuA8zMU8z9",1,Mon Mar 04 23:05:05 +0000 2019
188,Frontier Airlines,FlyFrontier,1102603427065053184,Embrace the enchanting beauty of @deathvalleynps! It's only a two hour drive from Las Vegas! üì∑: @rebeccahelenphoto‚Ä¶ https://t.co/yBhXuCHnZt,6,Mon Mar 04 16:15:17 +0000 2019
189,Frontier Airlines,FlyFrontier,1101877386294018049,"Frontier Team Members recently volunteered at the Night to Shine, sponsored by the @tebowfoundation. Night to Shine‚Ä¶ https://t.co/CV6Xh88Hk7",15,Sat Mar 02 16:10:15 +0000 2019
190,Frontier Airlines,FlyFrontier,1101591140623622152,RT @BWI_Airport: New month üìÖ = New air service ‚úà\n\nThe countdown is on! @FlyFrontier begins nonstop service from BWI Marshall to @DENAirport‚Ä¶,0,Fri Mar 01 21:12:49 +0000 2019
191,Frontier Airlines,FlyFrontier,1101591072638156801,@OHFamLaw Please message our customer care Twitter account: @FrontierCare,0,Fri Mar 01 21:12:32 +0000 2019
192,Frontier Airlines,FlyFrontier,1101590723969904641,"RT @JLincStine: We flew @FlyFrontier to/from JAX - loved the entire experience. No hype, no unnecessary costly frills, comfy seats, afforda‚Ä¶",0,Fri Mar 01 21:11:09 +0000 2019
193,Frontier Airlines,FlyFrontier,1101590590574288903,"RT @columbusairport: Whether traveling for business or pleasure, passengers flying to the Raleigh-Durham area of North Carolina will have e‚Ä¶",0,Fri Mar 01 21:10:38 +0000 2019
194,Frontier Airlines,FlyFrontier,1101555273829941248,RT @FAANews: #WomensHistoryMonth begins today! We thank past and present women aviators for their achievements and look forward to the futu‚Ä¶,0,Fri Mar 01 18:50:17 +0000 2019
195,Frontier Airlines,FlyFrontier,1101547856161357824,With the expected impact to travel conditions from a winter storm moving through the Rocky Mountain region of the U‚Ä¶ https://t.co/2Guesnv9Oh,8,Fri Mar 01 18:20:49 +0000 2019
196,Frontier Airlines,FlyFrontier,1101513750765539330,Waving goodbye to February and hello to March! üì∑: Tony Yates #herewithfrontier #flyfrontier #frontierairlines‚Ä¶ https://t.co/6fSUq3Wk5v,27,Fri Mar 01 16:05:17 +0000 2019
197,Frontier Airlines,FlyFrontier,1101148825715200001,"If you fly on a Tuesday from 1/8/19 - 3/26/19, you can earn 3X the FRONTIER MILES for your flight. You'll earn 1X f‚Ä¶ https://t.co/uyZ58ZGiBj",11,Thu Feb 28 15:55:13 +0000 2019
198,Frontier Airlines,FlyFrontier,1100860577755336720,RT @stephanmg: Huge shout out to @FlyFrontier for incredibly terrific customer service.,0,Wed Feb 27 20:49:49 +0000 2019
199,Frontier Airlines,FlyFrontier,1100860330756968462,RT @techinministry: Looking forward to another great fright from @FlyFrontier to @MCO https://t.co/9eRK5EpDXI,0,Wed Feb 27 20:48:50 +0000 2019

# Creating Twitter Account Tweets Table

In [165]:
cursor.execute(""" CREATE TABLE IF NOT EXISTS tweets_user
                  (Airplane_Name  Varchar(250) , Twitter_ID Varchar(250), Tweet_ID Varchar(250), 
                   Status Varchar(250),Fav_Count int(11), Time DataTime)""")

In [166]:
# Storing data from dataframe to SQL 

df.to_sql(name='tweets_user',con=conn,index=False, if_exists='append')

# Showing tweets_user table in dataframe

In [167]:
tweets_user_table=pd.read_sql("SELECT Airplane_Name,Twitter_ID,Tweet_ID,Status,Fav_Count,Time FROM tweets_user;",con = conn)
tweets_user_table

,Airplane_Name,Twitter_ID,Tweet_ID,Status,Fav_Count,Time
0,Southwest Airlines,SouthwestAir,1103452270811742208,"@AugerDave No love lost, David! We hope to welcome you back onboard with open wings soon. -Mariam",0,Thu Mar 07 00:28:17 +0000 2019
1,Southwest Airlines,SouthwestAir,1103451979919978497,"@RanDados11 Hey, Ran! You won't receive any notification, but your boarding position should already be reserved for‚Ä¶ https://t.co/PiieZzj9OL",0,Thu Mar 07 00:27:07 +0000 2019
2,Southwest Airlines,SouthwestAir,1103451889251700737,@Olivia_A_LaMar Olivia LaMar is the Dicks Last Resort Customer of Southwest Airlines Passengers (and we love her.) -Adam,0,Thu Mar 07 00:26:46 +0000 2019
3,Southwest Airlines,SouthwestAir,1103451866174644224,@EnoughImpeach45 Hey there! Looks like our Team is waiting on the go-ahead from Air Traffic Control due to high air‚Ä¶ https://t.co/gQjXCQQsKZ,1,Thu Mar 07 00:26:40 +0000 2019
4,Southwest Airlines,SouthwestAir,1103451799015514112,"@ekharting I‚Äôm sorry if we missed a chance to be of better service to you, Eric. We will share your comments with o‚Ä¶ https://t.co/TBs3R1zqQJ",0,Thu Mar 07 00:26:24 +0000 2019
5,Southwest Airlines,SouthwestAir,1103451497419816961,@tarsenault15 Please DM your confirmation number and I'll be happy to followup with you. -Heather,0,Thu Mar 07 00:25:12 +0000 2019
6,Southwest Airlines,SouthwestAir,1103451426691284992,"@coachgriff23 Again, you have our apologies. Were our Agents able to rebook you? -Grayson",0,Thu Mar 07 00:24:55 +0000 2019
7,Southwest Airlines,SouthwestAir,1103450905020493824,"@FutureMrsE_ Mrs. E, we love hearing that you're having such a good experience. If you'll DM us your confirmation n‚Ä¶ https://t.co/bKXXKkNHWE",0,Thu Mar 07 00:22:51 +0000 2019
8,Southwest Airlines,SouthwestAir,1103450900427726848,"@j_marcomusic Thanks for hanging in there with us, J! We appreciate your loyalty. Enjoy your flight! -Grayson",0,Thu Mar 07 00:22:50 +0000 2019
9,Southwest Airlines,SouthwestAir,1103450045276291072,"@tylermatjeka So glad to hear we could lend a hand, Tyler! We would love to pass along the thanks to the Crew. Coul‚Ä¶ https://t.co/DDTO4Ge6Le",0,Thu Mar 07 00:19:26 +0000 2019
10,Southwest Airlines,SouthwestAir,1103449896416305152,"@TerriBWilliams All Southwest Airlines Employees are expected to provide friendly, helpful, and attentive service t‚Ä¶ https://t.co/D02c8Zl0UB",0,Thu Mar 07 00:18:51 +0000 2019
11,Southwest Airlines,SouthwestAir,1103449866364059648,"@tbwalker70 We're sorry to hear that you're running into issues, Troy. Feel free to give us a call at (800)-435-979‚Ä¶ https://t.co/PEmvVxfNW2",0,Thu Mar 07 00:18:43 +0000 2019
12,Southwest Airlines,SouthwestAir,1103449212862160896,@stickmantoo My pleasure! We appreciate our Passengers being our eyes on the ground. Thank you for keeping us updated. -Travis,0,Thu Mar 07 00:16:08 +0000 2019
13,Southwest Airlines,SouthwestAir,1103449187843096576,"@AggiePastor86 That's some fancy flying right there, Byron. Thanks for bringing the party to the Lone Star State. W‚Ä¶ https://t.co/GmBS2TaQWN",0,Thu Mar 07 00:16:02 +0000 2019
14,Southwest Airlines,SouthwestAir,1103447647803695105,"@TerriBWilliams I'm sorry that you've been disappointed with your inflight experience this afternoon, Terri. It's n‚Ä¶ https://t.co/aTv18ZsLwq",0,Thu Mar 07 00:09:54 +0000 2019
15,Southwest Airlines,SouthwestAir,1103447521299316737,"@stickmantoo Sorry for the wait, Jerry. We aim for bags to be at the carousel within 20 min. Depending on the numbe‚Ä¶ https://t.co/Njf9fGQRjg",0,Thu Mar 07 00:09:24 +0000 2019
16,Southwest Airlines,SouthwestAir,1103446822561898496,"@irmailiana You've got your podcast priorities straight, Irma. Glad we could get you on the way without missing a beat! -Rachel",0,Thu Mar 07 00:06:38 +0000 2019
17,Southwest Airlines,SouthwestAir,1103446817230938113,@elyse777 We'll pass the word along! -Travis https://t.co/uo7toe7QBe,0,Thu Mar 07 00:06:36 +0000 2019
18,Southwest Airlines,SouthwestAir,1103445995000455168,"@renobie We're sincerely sorry, Renata. We will have you in the air as soon as possible. Thank you for your flexibility. -Allison",0,Thu Mar 07 00:03:20 +0000 2019
19,Southwest Airlines,SouthwestAir,1103445665131126784,"@coachgriff23 So sorry for the long lines today. We work hard to staff accordingly, &amp; we're sorry if we fell short‚Ä¶ https://t.co/CfrFbnF2jC",0,Thu Mar 07 00:02:02 +0000 2019
20,JetBlue Airways,JetBlue,1103451717658726401,"@amars26 We're sorry to hear that. If you would like to share more details with us about your experiences, please s‚Ä¶ https://t.co/vL21KHShxb",0,Thu Mar 07 00:26:05 +0000 2019
21,JetBlue Airways,JetBlue,1103449743584313344,"@tomall We love hearing this, Tom! What was your flight number?",0,Thu Mar 07 00:18:14 +0000 2019
22,JetBlue Airways,JetBlue,1103448550824992768,"@sydneylkethecty Sure, just click the link below. https://t.co/xSmyP7Lfyg",0,Thu Mar 07 00:13:30 +0000 2019
23,JetBlue Airways,JetBlue,1103445202713436162,"@kjgaff We're sorry to hear that, Karen! If it's out for all seats on the flight, the inflight crew will make sure‚Ä¶ https://t.co/WLRi8KdF6I",0,Thu Mar 07 00:00:12 +0000 2019
24,JetBlue Airways,JetBlue,1103443689899257856,@pelirroja_jenn We're so sorry to hear you didn't make it in time! Were you able to work with the airport crew to b‚Ä¶ https://t.co/KoX8DGj8Ds,0,Wed Mar 06 23:54:11 +0000 2019
25,JetBlue Airways,JetBlue,1103440319377534976,"@AnthonyCassiero There really isn't an exact science to it, it depends mainly on availability so rates will rise as the seats sell.",0,Wed Mar 06 23:40:47 +0000 2019
26,JetBlue Airways,JetBlue,1103439439286685701,@MalikaManning https://t.co/h5DPddu6cd,0,Wed Mar 06 23:37:17 +0000 2019
27,JetBlue Airways,JetBlue,1103436889326059521,"@ojc1 Thanks so much for letting us know, Oliver! We appreciate knowing the crewmember on board handled the situati‚Ä¶ https://t.co/zinUPk10tp",0,Wed Mar 06 23:27:09 +0000 2019
28,JetBlue Airways,JetBlue,1103433169783517185,@pattiparalegal We aren't able to combine those credits into one account. If you would like to send a direct messag‚Ä¶ https://t.co/CXMu0VMD0u,0,Wed Mar 06 23:12:23 +0000 2019
29,JetBlue Airways,JetBlue,1103429324684840961,"@iamawong Sorry to hear that, Alan! Did you make it to the correct gate in time for your flight?",0,Wed Mar 06 22:57:06 +0000 2019
...,...,...,...,...,...,...
170,Virgin America,VirginAmerica,1066964443307941888,@karenBeSounds #AS‚ù§VX -Laura,0,Mon Nov 26 07:58:41 +0000 2018
171,Virgin America,VirginAmerica,1065418417191219200,"@FabworldofElise Elise, your going to want to tag Virgin Atlantic on these. Virgin America does not have anything t‚Ä¶ https://t.co/xME1GmELpj",0,Thu Nov 22 01:35:19 +0000 2018
172,Virgin America,VirginAmerica,1054402839739592706,"@mattkelly84 Flights are available approx. 330 days in advance. We're currently offering flights up to September 17, 2019. ~Angel",1,Mon Oct 22 16:03:21 +0000 2018
173,Virgin America,VirginAmerica,1051164978181545984,@BrianWestbrook We are working on it. They should be completed by the end of 2019. -Maeghan,0,Sat Oct 13 17:37:15 +0000 2018
174,Virgin America,VirginAmerica,1050639975723618304,@IamPascal Best for the best! :) -Laura,0,Fri Oct 12 06:51:04 +0000 2018
175,Virgin America,VirginAmerica,1050354460214611971,@billybankers Hi! Please text our reservations team at 82008. They can confirm if a cancellation fee will apply. -Laura,2,Thu Oct 11 11:56:32 +0000 2018
176,Virgin America,VirginAmerica,1050314805951782912,@RileyLo17 We ‚ù§ our Virgin America! #VX‚ù§AS -Laura,4,Thu Oct 11 09:18:58 +0000 2018
177,Virgin America,VirginAmerica,1050129256511098880,"@itsraraamedeo Hey Maria, sorry for the return flight. I'm glad that your outbound flight was enjoyable minus renti‚Ä¶ https://t.co/YnyW6SLusu",1,Wed Oct 10 21:01:39 +0000 2018
178,Virgin America,VirginAmerica,1046728798698446848,"@pennardarty Capes aren't a part of the uniform, but its a great idea! I'll pass it along :) -Jordan",1,Mon Oct 01 11:49:27 +0000 2018
179,Virgin America,VirginAmerica,1046513744036208642,@alloutnerdyforU I hope you have an amazing flight! #MostWestCoast - Samantha,1,Sun Sep 30 21:34:54 +0000 2018
180,Frontier Airlines,FlyFrontier,1103337542647246849,RT @TCMoulton: This spectacular sunrise made my ridiculously early @FlyFrontier flight from @fly2ohare well worth it. #ilwx https://t.co/Sk‚Ä¶,0,Wed Mar 06 16:52:23 +0000 2019
181,Frontier Airlines,FlyFrontier,1103337362740989952,"RT @wendybco: @FlyFrontier waiting for gate to vacate. At least DEN always has a pretty view, no matter time of day or night. Wonderful fli‚Ä¶",0,Wed Mar 06 16:51:40 +0000 2019
182,Frontier Airlines,FlyFrontier,1103323157275074560,"Sixty-two new flight attendants graduated on Feb. 27, 2019 in Orlando. Welcome to the family Class O1903! https://t.co/Fhwjp907A6",50,Wed Mar 06 15:55:14 +0000 2019
183,Frontier Airlines,FlyFrontier,1103070985639682048,RT @PlanetBlond: Thanks @FlyFrontier we really appreciate the help. We are airport bound and Bobbs is ready to fly one of her favorite airl‚Ä¶,0,Tue Mar 05 23:13:11 +0000 2019
184,Frontier Airlines,FlyFrontier,1103003822941716480,RT @TravelLeisure: Why airplane windows are round https://t.co/g3ggbkjOUx https://t.co/RqsOLxv7cS,0,Tue Mar 05 18:46:18 +0000 2019
185,Frontier Airlines,FlyFrontier,1102971222147690498,This little guy is pretty dam cute! https://t.co/Lp1NAeVlRD,44,Tue Mar 05 16:36:46 +0000 2019
186,Frontier Airlines,FlyFrontier,1102960749251575808,The bird is the word! Fly for $29! https://t.co/TueDEcPa4f https://t.co/sEFSf5jNIE,12,Tue Mar 05 15:55:09 +0000 2019
187,Frontier Airlines,FlyFrontier,1102706558335705089,"@thepointsguy approves, Frontier Airlines is one of the top six best airline credit cards for families in 2019! Wit‚Ä¶ https://t.co/UuA8zMU8z9",1,Mon Mar 04 23:05:05 +0000 2019
188,Frontier Airlines,FlyFrontier,1102603427065053184,Embrace the enchanting beauty of @deathvalleynps! It's only a two hour drive from Las Vegas! üì∑: @rebeccahelenphoto‚Ä¶ https://t.co/yBhXuCHnZt,6,Mon Mar 04 16:15:17 +0000 2019
189,Frontier Airlines,FlyFrontier,1101877386294018049,"Frontier Team Members recently volunteered at the Night to Shine, sponsored by the @tebowfoundation. Night to Shine‚Ä¶ https://t.co/CV6Xh88Hk7",15,Sat Mar 02 16:10:15 +0000 2019
190,Frontier Airlines,FlyFrontier,1101591140623622152,RT @BWI_Airport: New month üìÖ = New air service ‚úà\n\nThe countdown is on! @FlyFrontier begins nonstop service from BWI Marshall to @DENAirport‚Ä¶,0,Fri Mar 01 21:12:49 +0000 2019
191,Frontier Airlines,FlyFrontier,1101591072638156801,@OHFamLaw Please message our customer care Twitter account: @FrontierCare,0,Fri Mar 01 21:12:32 +0000 2019
192,Frontier Airlines,FlyFrontier,1101590723969904641,"RT @JLincStine: We flew @FlyFrontier to/from JAX - loved the entire experience. No hype, no unnecessary costly frills, comfy seats, afforda‚Ä¶",0,Fri Mar 01 21:11:09 +0000 2019
193,Frontier Airlines,FlyFrontier,1101590590574288903,"RT @columbusairport: Whether traveling for business or pleasure, passengers flying to the Raleigh-Durham area of North Carolina will have e‚Ä¶",0,Fri Mar 01 21:10:38 +0000 2019
194,Frontier Airlines,FlyFrontier,1101555273829941248,RT @FAANews: #WomensHistoryMonth begins today! We thank past and present women aviators for their achievements and look forward to the futu‚Ä¶,0,Fri Mar 01 18:50:17 +0000 2019
195,Frontier Airlines,FlyFrontier,1101547856161357824,With the expected impact to travel conditions from a winter storm moving through the Rocky Mountain region of the U‚Ä¶ https://t.co/2Guesnv9Oh,8,Fri Mar 01 18:20:49 +0000 2019
196,Frontier Airlines,FlyFrontier,1101513750765539330,Waving goodbye to February and hello to March! üì∑: Tony Yates #herewithfrontier #flyfrontier #frontierairlines‚Ä¶ https://t.co/6fSUq3Wk5v,27,Fri Mar 01 16:05:17 +0000 2019
197,Frontier Airlines,FlyFrontier,1101148825715200001,"If you fly on a Tuesday from 1/8/19 - 3/26/19, you can earn 3X the FRONTIER MILES for your flight. You'll earn 1X f‚Ä¶ https://t.co/uyZ58ZGiBj",11,Thu Feb 28 15:55:13 +0000 2019
198,Frontier Airlines,FlyFrontier,1100860577755336720,RT @stephanmg: Huge shout out to @FlyFrontier for incredibly terrific customer service.,0,Wed Feb 27 20:49:49 +0000 2019
199,Frontier Airlines,FlyFrontier,1100860330756968462,RT @techinministry: Looking forward to another great fright from @FlyFrontier to @MCO https://t.co/9eRK5EpDXI,0,Wed Feb 27 20:48:50 +0000 2019

# SQL Queries Questions

In [185]:
# What user posted this (e.g. tweet, facebook post, IG post, etc.)?

query1= pd.read_sql("SELECT Airplane_Name,Twitter_ID FROM tweets_user where Status like '%Can you name this city? If you guessed #Boston, you are correct! As we countdown to the launch of our new non-stop%';",con=conn)
query1

       Airplane_Name   Twitter_ID
0  Hawaiian Airlines  HawaiianAir

In [184]:
# When did the user post this (e.g. tweet, facebook post, IG post, etc.)??

query2= pd.read_sql("SELECT Airplane_Name,Twitter_ID,Time FROM tweets_user where Status like '%Can you name this city? If you guessed #Boston, you are correct! As we countdown to the launch of our new non-stop%';",con=conn)
query2

       Airplane_Name   Twitter_ID                            Time
0  Hawaiian Airlines  HawaiianAir  Tue Mar 05 20:00:08 +0000 2019

In [186]:
# What posts has this user posted in the past 24 hours?

query3= pd.read_sql("""SELECT * From tweets_user Where Time > 'Tue Mar 05 04:03:12 +0000 2019'AND Time <='Wed Mar 06 20:34:39 +0000 2019' AND Airplane_Name='Hawaiian Airlines'""", conn)
query3

,Airplane_Name,Twitter_ID,Tweet_ID,Status,Fav_Count,Time
0,Hawaiian Airlines,HawaiianAir,1103393474399911936,"@realmikeharmon We're sorry for the frustrating delay, Mike. Ensuring the safety of our guests is our top concern a‚Ä¶ https://t.co/bTzTISkJES",1,Wed Mar 06 20:34:39 +0000 2019
1,Hawaiian Airlines,HawaiianAir,1103387288413921280,When you find a natural tub üòé. Like if you wish you were here. \nüì∑: @sashasarupak https://t.co/znyxhNiXRL,48,Wed Mar 06 20:10:04 +0000 2019
2,Hawaiian Airlines,HawaiianAir,1103369662308376577,An epic storm tests a fifth-generation taro farmer‚Äôs legacy of sustaining the community. Video courtesy of‚Ä¶ https://t.co/Ar5LApILg9,25,Wed Mar 06 19:00:01 +0000 2019
3,Hawaiian Airlines,HawaiianAir,1103168368025264130,"@CristiCam We're so sorry to hear this and it certainly doesn't sound like our norm, Cristina. We'd be happy to pa‚Ä¶ https://t.co/9DYmgkmaHM",0,Wed Mar 06 05:40:09 +0000 2019
4,Hawaiian Airlines,HawaiianAir,1103115120786460677,"@therealPamdrew Thank you for bringing this to our attention, Pamdrew. We will pass along your feedback to our appropriate team. Mahalo.",0,Wed Mar 06 02:08:34 +0000 2019
5,Hawaiian Airlines,HawaiianAir,1103068006098317317,@joachimmartin We can't wait to see you aboard our flight! Mahalo for choosing to fly with us!üòä,1,Tue Mar 05 23:01:21 +0000 2019
6,Hawaiian Airlines,HawaiianAir,1103040001116434433,Let's go somewhere ‚úà Where's your next trip? üì∑: @aviationphan\n\n#AvGeek #Aviation #AirbusLovers #AviationPhoto‚Ä¶ https://t.co/JSXcrgaeLE,79,Tue Mar 05 21:10:04 +0000 2019
7,Hawaiian Airlines,HawaiianAir,1103035183106674688,@AgentHaupia Haven't had that flavor yet!,0,Tue Mar 05 20:50:55 +0000 2019
8,Hawaiian Airlines,HawaiianAir,1103033230519726080,It's #FatTuesday and you know what that means in #Hawaii üòçü§§ https://t.co/soMJJUoGq1,216,Tue Mar 05 20:43:10 +0000 2019
9,Hawaiian Airlines,HawaiianAir,1103023644723372037,When you find a natural tub üòé. Like if you wish you were here. \nüì∑: @sashasarupak https://t.co/BbgTKLhKM7,25,Tue Mar 05 20:05:04 +0000 2019
10,Hawaiian Airlines,HawaiianAir,1103022402446000128,"Can you name this city? If you guessed #Boston, you are correct! As we countdown to the launch of our new non-stop‚Ä¶ https://t.co/x6QXUEYDkv",38,Tue Mar 05 20:00:08 +0000 2019
11,Hawaiian Airlines,HawaiianAir,1103008840839323648,"@DeejamTanya Aloha Tanya, we're sorry to hear this. Could you please send us a DM with your confirmation code and e‚Ä¶ https://t.co/pGVHErJ5J5",0,Tue Mar 05 19:06:15 +0000 2019
12,Hawaiian Airlines,HawaiianAir,1103007289651462146,"Happy #NationalPancakeDay! We might be a little biased, but our favorite pancakes are from our Executive Chef Lee A‚Ä¶ https://t.co/6Oy8seKmqd",31,Tue Mar 05 19:00:05 +0000 2019
13,Hawaiian Airlines,HawaiianAir,1103007142280290309,"RT @seeMolokai: You probably know the meanings of ""aloha"" and ""mahalo"", but can you guess what ""opala"" means? We'll give you a hint: taking‚Ä¶",0,Tue Mar 05 18:59:30 +0000 2019
14,Hawaiian Airlines,HawaiianAir,1103005847033122816,"@dylanlive Aloha Dylan, we're sorry to hear this. Could you please send us a DM with your confirmation code and ema‚Ä¶ https://t.co/a4kpLE3fZD",0,Tue Mar 05 18:54:21 +0000 2019
15,Hawaiian Airlines,HawaiianAir,1103000980596101123,"@coffeenomics Aloha Jaclyn, we're sorry to hear that you are experiencing issue with our website. We'll be sure to‚Ä¶ https://t.co/Txi9e4Lb52",0,Tue Mar 05 18:35:01 +0000 2019
16,Hawaiian Airlines,HawaiianAir,1102813678343196672,"@seanmrivers Thanks for your feedback, Sean. We'll be sure to pass it on to the appropriate team. Mahalo for choosing to fly with us. üå∫‚úà",0,Tue Mar 05 06:10:44 +0000 2019

In [188]:
# How many post has this user posted in the past 24 hours?

query4= pd.read_sql("""SELECT count(Status) From tweets_user Where Time > 'Tue Mar 05 04:03:12 +0000 2019'AND Time <='Wed Mar 06 20:34:39 +0000 2019' AND Airplane_Name='Hawaiian Airlines'""", conn)
query4

   count(Status)
0  17

In [189]:
# What posts are popular?

query5= pd.read_sql("SELECT * from tweets_user where Airplane_Name ='Frontier Airlines' order by Fav_Count desc LIMIT 5 ;", conn)
query5

,Airplane_Name,Twitter_ID,Tweet_ID,Status,Fav_Count,Time
0,Frontier Airlines,FlyFrontier,1103323157275074560,"Sixty-two new flight attendants graduated on Feb. 27, 2019 in Orlando. Welcome to the family Class O1903! https://t.co/Fhwjp907A6",50,Wed Mar 06 15:55:14 +0000 2019
1,Frontier Airlines,FlyFrontier,1102971222147690498,This little guy is pretty dam cute! https://t.co/Lp1NAeVlRD,44,Tue Mar 05 16:36:46 +0000 2019
2,Frontier Airlines,FlyFrontier,1101513750765539330,Waving goodbye to February and hello to March! üì∑: Tony Yates #herewithfrontier #flyfrontier #frontierairlines‚Ä¶ https://t.co/6fSUq3Wk5v,27,Fri Mar 01 16:05:17 +0000 2019
3,Frontier Airlines,FlyFrontier,1101877386294018049,"Frontier Team Members recently volunteered at the Night to Shine, sponsored by the @tebowfoundation. Night to Shine‚Ä¶ https://t.co/CV6Xh88Hk7",15,Sat Mar 02 16:10:15 +0000 2019
4,Frontier Airlines,FlyFrontier,1102960749251575808,The bird is the word! Fly for $29! https://t.co/TueDEcPa4f https://t.co/sEFSf5jNIE,12,Tue Mar 05 15:55:09 +0000 2019

# Use Cases

In [48]:
# Sql Select Query to get data Order by Followers count in descending order

sql1= pd.read_sql('SELECT Airplane_Name,Followers_Count FROM twitter ORDER BY Followers_Count DESC;',con=conn)
sql1

        Airplane_Name  Followers_Count
0  Southwest Airlines  2119013
1  JetBlue Airways     1958449
2  American Airlines   1539487
3  Delta               1491491
4  United Airlines     1012035
5  Virgin America      808521
6  Alaska Airlines     356087
7  Hawaiian Airlines   179829
8  Frontier Airlines   107929
9  Allegiant           54101

In [49]:
# Sql Select Query to get Airplane with Most Followers_Count

sql2= pd.read_sql('SELECT Airplane_Name, Max(Followers_Count)AS Most_Followers  from twitter;',con=conn)
sql2

        Airplane_Name  Most_Followers
0  Southwest Airlines  2119013

In [50]:
# Sql Select Query to get Airplane with Least Friends_Count

sql3= pd.read_sql('SELECT Airplane_Name, Min(Friends_Count)AS Least_Friends from twitter;',con=conn)
sql3

    Airplane_Name  Least_Friends
0  Virgin America  4

In [54]:
# Sql Select Query to get Airplane Name & Tweets from Two  Tables 

sql4 = pd.read_sql('SELECT tweets_user.Airplane_Name,Status FROM twitter INNER JOIN tweets_user on tweets_user.Airplane_Name = twitter.Airplane_Name ;',con=conn)
sql4

,Airplane_Name,Status
0,Southwest Airlines,"@J9s_twtr Please know that EarlyBird guarantees automatic check in 36 hrs prior to departure, not a specific boarding position. -Heather"
1,Southwest Airlines,@natashapowell We're so glad we could help! Looking forward to welcoming you onboard soon. -Emilia
2,Southwest Airlines,"@4CivicGood All in a day's flying! Thanks for taking in the sights with us, Mitch. We love sharing our travel days with you! -Adrienne"
3,Southwest Airlines,@TheAustinMccann -Adrienne https://t.co/OHeFP6iIVw
4,Southwest Airlines,@suburbanp2 So sorry for the delay. Please DM your confirmation number so we can follow-up with you. -Mariam
5,Southwest Airlines,@torz_r_us Can't beat free! We're so excited to see y'all onboard. -Rachel https://t.co/Nhl549YHmC
6,Southwest Airlines,"@Haley_Alexis7 Thanks for sharing your experience with us, Haley! We hope you had a great time onboard. -Mariam"
7,Southwest Airlines,@kathyws1406 Glad to hear that our Customer Service was extraordinary! Please DM your confirmation number so we can‚Ä¶ https://t.co/YhSCtd6JUf
8,Southwest Airlines,@OhHeyDimples Congratulations! We can't wait to share the skies with you and your Companion with open wings soon. -Mariam
9,Southwest Airlines,"@LisaBalzo1 Oh Mai Tai, Lisa! We look forward to sharing the skies with you to the Islands soon! -Mariam"
10,Southwest Airlines,@CollinMizzPod Sorry for the wait. We aim for bags to be at the carousel within 20 minutes. Depending on number of‚Ä¶ https://t.co/vxXBwlh9cz
11,Southwest Airlines,"@AmandaDawn_221 We love hearing this, Amanda! Please DM your confirmation number so we can pass along the kudos to‚Ä¶ https://t.co/lKUfVI1mFH"
12,Southwest Airlines,"@AshBash760 Ashley, as long as your Rapid Rewards number is in your reservation, drink coupons are sent after compl‚Ä¶ https://t.co/KVQKTvgpOC"
13,Southwest Airlines,"@PauletteTemple I'm very sorry about the long hold times, Paulette. Our schedule opening was driving higher call volumes. -Mariam"
14,Southwest Airlines,@MadeesDogBakery Thanks for all the kind words! We work hard to offer nothing short of the absolute best for our Cu‚Ä¶ https://t.co/ruts0yOahK
15,Southwest Airlines,@jcwestmoreland We're sincerely sorry to hear that. We do not currently have any open issue like the one you're des‚Ä¶ https://t.co/FnJSUsS6vN
16,Southwest Airlines,"@suzyyogi We can't wait to see you onboard, Suzy! -Grayson"
17,Southwest Airlines,"@RyanEverhart You've got it, Ryan! Thanks for sharing the night skies with us today. -Adrienne"
18,Southwest Airlines,"@TheAustinMccann While we don't have a way to offer that upgrade without charge, we'd love to share the honeymoon f‚Ä¶ https://t.co/aca5jbtTEB"
19,Southwest Airlines,@Britopian Gotta get some more flights under your belt! Check out our new flights to Hawaii to bump up those numbers! -Allison
20,JetBlue Airways,@vambamm We are sorry to hear that. What flight number are you on?
21,JetBlue Airways,@sarakan Have you checked luggage on your current flight? If so you'll need to reach out to the airport crewmembers‚Ä¶ https://t.co/VHo8ecMWDk
22,JetBlue Airways,@PretzelWurst Once the flight is on an active taxiway we don't get further updates until departure. Your best resou‚Ä¶ https://t.co/LkAqzVQk29
23,JetBlue Airways,@WunderbarNB The inbound flight (#2824) is about to get into the air and on its way to Orlando. Your flight to Aust‚Ä¶ https://t.co/L0S6Q5CdnO
24,JetBlue Airways,@toti_1014 You can see those details here: https://t.co/ntx9aEFtrt
25,JetBlue Airways,"@sarakan We're sorry to know that your travel plans have been disrupted, Sara! We understand how frustrating that c‚Ä¶ https://t.co/pEmWvpTXEN"
26,JetBlue Airways,@michellepiazzax We're sorry if our Crewmember's demeanor or tone seemed insensitive. We take these types of claims‚Ä¶ https://t.co/yEQ8CIhWPi
27,JetBlue Airways,@disciplesJerry We're so glad to know the agents you worked with were able to help make your experience a little le‚Ä¶ https://t.co/Ua6PMTULJt
28,JetBlue Airways,@WeirdAlex__ We're sorry to hear about the flight disruptions that your friend has experienced. All delayed flights‚Ä¶ https://t.co/EAHdr7eieL
29,JetBlue Airways,@Armedandproud Sorry to hear this! Have you already filled out our lost and found form at https://t.co/sc32XPXuaL s‚Ä¶ https://t.co/TpzTLnKdEB
...,...,...
370,Virgin America,@karenBeSounds #AS‚ù§VX -Laura
371,Virgin America,"@FabworldofElise Elise, your going to want to tag Virgin Atlantic on these. Virgin America does not have anything t‚Ä¶ https://t.co/xME1GmELpj"
372,Virgin America,"@mattkelly84 Flights are available approx. 330 days in advance. We're currently offering flights up to September 17, 2019. ~Angel"
373,Virgin America,@BrianWestbrook We are working on it. They should be completed by the end of 2019. -Maeghan
374,Virgin America,@IamPascal Best for the best! :) -Laura
375,Virgin America,@billybankers Hi! Please text our reservations team at 82008. They can confirm if a cancellation fee will apply. -Laura
376,Virgin America,@RileyLo17 We ‚ù§ our Virgin America! #VX‚ù§AS -Laura
377,Virgin America,"@itsraraamedeo Hey Maria, sorry for the return flight. I'm glad that your outbound flight was enjoyable minus renti‚Ä¶ https://t.co/YnyW6SLusu"
378,Virgin America,"@pennardarty Capes aren't a part of the uniform, but its a great idea! I'll pass it along :) -Jordan"
379,Virgin America,@alloutnerdyforU I hope you have an amazing flight! #MostWestCoast - Samantha
380,Frontier Airlines,RT @PlanetBlond: Thanks @FlyFrontier we really appreciate the help. We are airport bound and Bobbs is ready to fly one of her favorite airl‚Ä¶
381,Frontier Airlines,RT @TravelLeisure: Why airplane windows are round https://t.co/g3ggbkjOUx https://t.co/RqsOLxv7cS
382,Frontier Airlines,This little guy is pretty dam cute! https://t.co/Lp1NAeVlRD
383,Frontier Airlines,The bird is the word! Fly for $29! https://t.co/TueDEcPa4f https://t.co/sEFSf5jNIE
384,Frontier Airlines,"@thepointsguy approves, Frontier Airlines is one of the top six best airline credit cards for families in 2019! Wit‚Ä¶ https://t.co/UuA8zMU8z9"
385,Frontier Airlines,Embrace the enchanting beauty of @deathvalleynps! It's only a two hour drive from Las Vegas! üì∑: @rebeccahelenphoto‚Ä¶ https://t.co/yBhXuCHnZt
386,Frontier Airlines,"Frontier Team Members recently volunteered at the Night to Shine, sponsored by the @tebowfoundation. Night to Shine‚Ä¶ https://t.co/CV6Xh88Hk7"
387,Frontier Airlines,RT @BWI_Airport: New month üìÖ = New air service ‚úà\n\nThe countdown is on! @FlyFrontier begins nonstop service from BWI Marshall to @DENAirport‚Ä¶
388,Frontier Airlines,@OHFamLaw Please message our customer care Twitter account: @FrontierCare
389,Frontier Airlines,"RT @JLincStine: We flew @FlyFrontier to/from JAX - loved the entire experience. No hype, no unnecessary costly frills, comfy seats, afforda‚Ä¶"
390,Frontier Airlines,"RT @columbusairport: Whether traveling for business or pleasure, passengers flying to the Raleigh-Durham area of North Carolina will have e‚Ä¶"
391,Frontier Airlines,RT @FAANews: #WomensHistoryMonth begins today! We thank past and present women aviators for their achievements and look forward to the futu‚Ä¶
392,Frontier Airlines,With the expected impact to travel conditions from a winter storm moving through the Rocky Mountain region of the U‚Ä¶ https://t.co/2Guesnv9Oh
393,Frontier Airlines,Waving goodbye to February and hello to March! üì∑: Tony Yates #herewithfrontier #flyfrontier #frontierairlines‚Ä¶ https://t.co/6fSUq3Wk5v
394,Frontier Airlines,"If you fly on a Tuesday from 1/8/19 - 3/26/19, you can earn 3X the FRONTIER MILES for your flight. You'll earn 1X f‚Ä¶ https://t.co/uyZ58ZGiBj"
395,Frontier Airlines,RT @stephanmg: Huge shout out to @FlyFrontier for incredibly terrific customer service.
396,Frontier Airlines,RT @techinministry: Looking forward to another great fright from @FlyFrontier to @MCO https://t.co/9eRK5EpDXI
397,Frontier Airlines,RT @fargoairport: Seattle in #spring? #FlyFargo to #Seattle for $233 RT on @FlyFrontier ‚úàÔ∏èüåÑ https://t.co/ZR6dB1oJ1s https://t.co/A5ICPrunFN
398,Frontier Airlines,Wood are you waiting for? There‚Äôs nothing to chew over‚Ä¶apply now for the Frontier Airlines World Mastercard and you‚Ä¶ https://t.co/r18OOMUePQ
399,Frontier Airlines,"RT @usatodaytravel: As Grand Canyon National Park celebrates its 100th birthday, here are some awe-inspiring figures about one of the most‚Ä¶"

In [114]:
# Creating dataframe and importing Airplane Details from csv file

Airplane_Details = pd.read_csv("/Users/abhipatodi/Desktop/Airplane_Details.csv",encoding = "ISO-8859-1")
Airplane_Details

,Airplane_Name,Fleet_Size,Headquarters,Founded,Destinations,Website
0,Southwest Airlines,751,"Dallas, Texas, U.S.","March 15, 1967",99,https://www.southwest.com
1,JetBlue,253,"Brewster Building, Long Island City, New York, United States",Aug-99,102,https://www.jetblue.com/
2,Delta Air Lines,876,"Atlanta, Georgia, U.S.",30-May-24,325,https://www.delta.com/
3,Hawaiian Airlines,55,"Honolulu, Hawaii, United States",06-Oct-29,28,http://www.hawaiianairlines.com/
4,Alaska Airlines,330,"SeaTac, Washington",1932,116,https://www.alaskaair.com
5,"American Airlines, Inc.",957,"CentrePort, Fort Worth, Texas, United States",15-Apr-26,350,www.aa.com
6,Allegiant Air,84,"Summerlin, Nevada",Jan-97,121,http://www.allegiantair.com/
7,"United Airlines, Inc.",763,"Willis Tower, Chicago, Illinois, U.S.",06-Apr-26,342,https://www.united.com
8,Virgin America,67,"Burlingame, California",26-Jan-04,30,http://www.alaskaair.com/
9,Frontier Airlines,83,"Denver Denver, Colorado",08-Feb-94,103,http://www.flyfrontier.com/

# Creating Airplane Details Table

In [112]:
cursor.execute("""Create TABLE IF NOT EXISTS airplane_details
                  (Airplane_Name Varchar(250) PRIMARY KEY, Fleet_Size int(11) , Headquarters Varchar(250), 
                   Founded Varchar(250), Destinations Varchar(250),Website Varchar(250))""")

In [115]:
Airplane_Details.to_sql(name='airplane_details',con=conn,index=False, if_exists='append')

# Showing airplane_details table in dataframe

In [137]:
airplane_details_table=pd.read_sql("SELECT Airplane_Name,Fleet_Size,Headquarters,Founded,Destinations,Website FROM airplane_details;",con = conn)
airplane_details_table

,Airplane_Name,Fleet_Size,Headquarters,Founded,Destinations,Website
0,Southwest Airlines,751,"Dallas, Texas, U.S.","March 15, 1967",99,https://www.southwest.com
1,JetBlue,253,"Brewster Building, Long Island City, New York, United States",Aug-99,102,https://www.jetblue.com/
2,Delta Air Lines,876,"Atlanta, Georgia, U.S.",30-May-24,325,https://www.delta.com/
3,Hawaiian Airlines,55,"Honolulu, Hawaii, United States",06-Oct-29,28,http://www.hawaiianairlines.com/
4,Alaska Airlines,330,"SeaTac, Washington",1932,116,https://www.alaskaair.com
5,"American Airlines, Inc.",957,"CentrePort, Fort Worth, Texas, United States",15-Apr-26,350,www.aa.com
6,Allegiant Air,84,"Summerlin, Nevada",Jan-97,121,http://www.allegiantair.com/
7,"United Airlines, Inc.",763,"Willis Tower, Chicago, Illinois, U.S.",06-Apr-26,342,https://www.united.com
8,Virgin America,67,"Burlingame, California",26-Jan-04,30,http://www.alaskaair.com/
9,Frontier Airlines,83,"Denver Denver, Colorado",08-Feb-94,103,http://www.flyfrontier.com/

# Extracting data from Yelp Api

In [140]:

import numpy as np
import yelp
import requests
import pandas as pd

from pandas.io.json import json_normalize


API_KEY = "U23S8oPF91hwt8yO4QE4xUU9h4DED0ISEZGV8Lp3FR0kkfNWMo-3xCajXYrFaDyqhI8mqOSxeEJCuHhZnStoL2jtZlHVETKQWbKyyqiDDK8Zg3EdruFethbZWCpzXHYx"

API_HOST = 'https://api.yelp.com'
BUSINESS_PATH = '/v3/businesses/'

def get_business(business_id):
    business_path = BUSINESS_PATH + business_id
    url = API_HOST + business_path + '/reviews'
    headers = {'Authorization': f"Bearer {API_KEY}"}

    response = requests.get(url, headers=headers)

    return response.json()



flight_lists_name = ["Southwest Airlines","JetBlue Airways","Delta","Hawaiian Airlines","Alaska Airlines", "American Airlines",
                "Allegiant","United Airlines","Virgin America","Frontier Airlines"]

flight_lists = ["southwest-airlines-los-angeles-5","jetblue-airways-new-york","delta-air-lines-college-park-2","hawaiian-airlines-honolulu","alaska-airlines-seattle-10","american-airlines-los-angeles-5","allegiant-air-honolulu","united-airlines-san-francisco-6","virgin-america-san-francisco-5","frontier-airlines-denver-4"]


review_dict = []
user_name_dict = []
rating_dict = []
timecreated_dict = []

review1_dict1 = []
user1_name_dict1 = []
rating1_dict1 = []
timecreated1_dict1 = []
   
total_dict = []    
        
for i in flight_lists:
    
    json_data = get_business(i)
    results = json_data['reviews']
    
    total = json_data['total']
    total_dict.append(total)
    
#Review 1   

    name = results[0]
    review = name['text']
    review_dict.append(review)
    
    rating = name['rating']
    rating_dict.append(rating)
    
    timecreated = name['time_created']
    timecreated_dict.append(timecreated)
    
    userdet = name['user']
    username= userdet['name']
    user_name_dict.append(username)

#Review 2    

    name1 = results[1]
    review1 = name1['text']
    review1_dict1.append(review1)
    
    rating1 = name1['rating']
    rating1_dict1.append(rating1)
    
    timecreated1 = name1['time_created']
    timecreated1_dict1.append(timecreated1)
    
    userdet1 = name1['user']
    username1= userdet1['name']
    user1_name_dict1.append(username1)
    
    
     
dtf = pd.DataFrame({
              'Airplane_Name' : flight_lists_name,
              'Review_One' : review_dict,
              'Rating' : rating_dict,
              'Time_Created' : timecreated_dict,
              'User_Name' : user_name_dict,
              'Review_Two' : review1_dict1,
              'Rating2' : rating1_dict1,
              'Time_Created2' : timecreated1_dict1,
              'User_Name2' : user1_name_dict1,
              'Total_Number_Review':total_dict  })             

dtf

,Airplane_Name,Review_One,Rating,Time_Created,User_Name,Review_Two,Rating2,Time_Created2,User_Name2,Total_Number_Review
0,Southwest Airlines,"Normally, Southwest is a guaranteed 5-stars every time. At LAX, they lose a star for crappy baggage claim and their totally unacceptable luggage delivery...",4,2019-01-21 16:15:13,Dave C.,My original flight from Oakland to LAX with connection flight LAX to MSY was postponed due to mechanical windshield wiper motor error. Our flight was...,1,2019-02-17 06:52:28,Stephanie F.,815
1,JetBlue Airways,"JetBlue is my favorite airline, and I try to travel with them whenever I can. Their service is great, and saying that about an airline is hard to do....",5,2019-02-01 11:55:24,Jen K.,Never again it was a nightmare!!!\nThey had a delay with all their flights last night. So many people lost their connection flight \nAs for their customer...,1,2019-02-14 11:33:45,Lauren C.,724
2,Delta,"When I travel domestically, I either travel Delta or Southwest. Usually it's Delta and 9 times out of 10 my layover will be in Atlanta...so I've flown...",4,2019-02-26 17:09:11,Leah A.,I already wrote a review for Delta Air Lines on their World Headquarters listing in 2016:...,3,2019-02-24 05:56:56,Daniel B.,310
3,Hawaiian Airlines,OK - I made Platinum status. I get two first class upgrades.\nYes. \nI would normally not pay for first class because I am not over 6 feet so do not need a...,5,2019-02-23 22:21:48,T. Anthony N.,This review is specific to our layover in Honolulu. Our flight from LAX to HNL was comfortable as the attendants there were accommodating and very helpful...,1,2019-03-03 22:03:19,Judy L.,1482
4,Alaska Airlines,Alaska Airlines and my experiences:\n1- I like that the airplanes are always clean. There is no garbage compare with other airlines. I know that a lot of...,5,2019-01-02 23:00:44,Marie N.,"Alaska Air's ""Complimentary Checked Baggage"" at the gate is a SCAM to get you to pay for your carry on's Leaving on flight 651 out of DFW on 2/24/19 @ 1220...",1,2019-02-25 08:16:14,Ravi C.,1113
5,American Airlines,"Sorry, not sorry. My review will not be a low rating one.\n\nI missed my morning flight thanks to 3 hours of LA traffic and Spirit didnt let me through to my...",5,2019-02-24 10:36:50,Lawrence M.,"I recently took a flight from LGA to CLT on 2/21, flight #AA1782. The flight was to depart at 7:55am. We did not take off until closer to 9:30am due to...",1,2019-02-22 12:39:43,Aaron K.,2004
6,Allegiant,"Okay. Now I have taken the flight I could not get out of a couple months ago. We are having a great time celebrating the New Year in Vegas.\n\nFor its part,...",3,2017-12-31 09:20:25,JP C.,I had a 1:05 p.m. flight to Boise today to attend my father's funeral along with my 2 children. I arrived at the airport approx. 1230pm.. Headed toward...,1,2019-02-28 15:21:56,Louis V.,396
7,United Airlines,"After having a rather grueling and uncomfortable flight heading to California, I was quite pleased with this airline. They say it's the small things, for...",4,2019-02-28 19:17:07,John L.,Nightmare Flight attendant\n\nTravelling from NYC to Honolulu on Sat 16 February 2019 on UA 363. She was serving the back of the plane. \n\nFlight attendant...,1,2019-02-17 07:01:01,Olive Justine V.,2510
8,Virgin America,I used Virgin Airlines last year to go to Hawaii for my wedding. I have some disabilities and they accommodated by providing bulk head seats in the front of...,4,2018-09-15 12:55:08,Anonymous Critic B.,"Recently took my last Virgin America trip a few months back and I am going to miss them. Were they the best international or domestic airline known to man,...",5,2018-08-19 15:05:49,Ryan A.,1917
9,Frontier Airlines,"Frontier is definitely one of the worst airlines bin Denver, horrible notification system has passengers running from gate to gate.\nAlso please print out...",2,2019-02-21 06:52:49,Beata J.,Confirmed - Worst Airline \nUsed to fly Frontier all the time back in the day when deals were deals & C.S. people were friendly. Wish we could go back in...,1,2019-03-04 09:21:51,Tammy M.,3010

# Creating Yelp Table

In [118]:
cursor.execute("""Create TABLE IF NOT EXISTS yelp
                  (Airplane_Name Varchar(250) PRIMARY KEY, Review_One Varchar(250), Rating int(11), 
                   Time_Created Datetime, User_Name Varchar(250),Review_Two Varchar(250), Rating2 int(11), 
                   Time_Created2 Datetime, User_Name2 Varchar(250),Total_Number_Review int(11))""")

In [141]:
dtf.to_sql(name='yelp',con=conn,index=False, if_exists='append')

# Showing yelp table in dataframe

In [142]:
yelp_table=pd.read_sql("SELECT Airplane_Name,Review_One,Rating,Time_Created,User_Name,Review_Two,Rating2,Time_Created2,User_Name2,Total_Number_Review FROM yelp;",con = conn)
yelp_table

,Airplane_Name,Review_One,Rating,Time_Created,User_Name,Review_Two,Rating2,Time_Created2,User_Name2,Total_Number_Review
0,Southwest Airlines,"Normally, Southwest is a guaranteed 5-stars every time. At LAX, they lose a star for crappy baggage claim and their totally unacceptable luggage delivery...",4,2019-01-21 16:15:13,Dave C.,My original flight from Oakland to LAX with connection flight LAX to MSY was postponed due to mechanical windshield wiper motor error. Our flight was...,1,2019-02-17 06:52:28,Stephanie F.,815
1,JetBlue Airways,"JetBlue is my favorite airline, and I try to travel with them whenever I can. Their service is great, and saying that about an airline is hard to do....",5,2019-02-01 11:55:24,Jen K.,Never again it was a nightmare!!!\nThey had a delay with all their flights last night. So many people lost their connection flight \nAs for their customer...,1,2019-02-14 11:33:45,Lauren C.,724
2,Delta,"When I travel domestically, I either travel Delta or Southwest. Usually it's Delta and 9 times out of 10 my layover will be in Atlanta...so I've flown...",4,2019-02-26 17:09:11,Leah A.,I already wrote a review for Delta Air Lines on their World Headquarters listing in 2016:...,3,2019-02-24 05:56:56,Daniel B.,310
3,Hawaiian Airlines,OK - I made Platinum status. I get two first class upgrades.\nYes. \nI would normally not pay for first class because I am not over 6 feet so do not need a...,5,2019-02-23 22:21:48,T. Anthony N.,This review is specific to our layover in Honolulu. Our flight from LAX to HNL was comfortable as the attendants there were accommodating and very helpful...,1,2019-03-03 22:03:19,Judy L.,1482
4,Alaska Airlines,Alaska Airlines and my experiences:\n1- I like that the airplanes are always clean. There is no garbage compare with other airlines. I know that a lot of...,5,2019-01-02 23:00:44,Marie N.,"Alaska Air's ""Complimentary Checked Baggage"" at the gate is a SCAM to get you to pay for your carry on's Leaving on flight 651 out of DFW on 2/24/19 @ 1220...",1,2019-02-25 08:16:14,Ravi C.,1113
5,American Airlines,"Sorry, not sorry. My review will not be a low rating one.\n\nI missed my morning flight thanks to 3 hours of LA traffic and Spirit didnt let me through to my...",5,2019-02-24 10:36:50,Lawrence M.,"I recently took a flight from LGA to CLT on 2/21, flight #AA1782. The flight was to depart at 7:55am. We did not take off until closer to 9:30am due to...",1,2019-02-22 12:39:43,Aaron K.,2004
6,Allegiant,"Okay. Now I have taken the flight I could not get out of a couple months ago. We are having a great time celebrating the New Year in Vegas.\n\nFor its part,...",3,2017-12-31 09:20:25,JP C.,I had a 1:05 p.m. flight to Boise today to attend my father's funeral along with my 2 children. I arrived at the airport approx. 1230pm.. Headed toward...,1,2019-02-28 15:21:56,Louis V.,396
7,United Airlines,"After having a rather grueling and uncomfortable flight heading to California, I was quite pleased with this airline. They say it's the small things, for...",4,2019-02-28 19:17:07,John L.,Nightmare Flight attendant\n\nTravelling from NYC to Honolulu on Sat 16 February 2019 on UA 363. She was serving the back of the plane. \n\nFlight attendant...,1,2019-02-17 07:01:01,Olive Justine V.,2510
8,Virgin America,I used Virgin Airlines last year to go to Hawaii for my wedding. I have some disabilities and they accommodated by providing bulk head seats in the front of...,4,2018-09-15 12:55:08,Anonymous Critic B.,"Recently took my last Virgin America trip a few months back and I am going to miss them. Were they the best international or domestic airline known to man,...",5,2018-08-19 15:05:49,Ryan A.,1917
9,Frontier Airlines,"Frontier is definitely one of the worst airlines bin Denver, horrible notification system has passengers running from gate to gate.\nAlso please print out...",2,2019-02-21 06:52:49,Beata J.,Confirmed - Worst Airline \nUsed to fly Frontier all the time back in the day when deals were deals & C.S. people were friendly. Wish we could go back in...,1,2019-03-04 09:21:51,Tammy M.,3010

# Use Cases

In [66]:
# SQL Select Airplane Name order by Total number of reviews

sql5= pd.read_sql('SELECT Airplane_Name,Total_Number_Review FROM yelp ORDER BY Total_Number_Review DESC;',con=conn)
sql5

        Airplane_Name  Total_Number_Review
0  Frontier Airlines   3007
1  United Airlines     2508
2  American Airlines   2004
3  Virgin America      1916
4  Hawaiian Airlines   1482
5  Alaska Airlines     1113
6  Southwest Airlines  815
7  JetBlue Airways     724
8  Allegiant           396
9  Delta               310

In [80]:
# SQL Select Airplane Name order by Rating in Ascending Order

sql6= pd.read_sql('SELECT Airplane_Name,Rating FROM yelp ORDER BY Rating ASC;',con=conn)
sql6

        Airplane_Name  Rating
0  Frontier Airlines   2
1  Allegiant           3
2  Southwest Airlines  4
3  Delta               4
4  United Airlines     4
5  Virgin America      4
6  JetBlue Airways     5
7  Hawaiian Airlines   5
8  Alaska Airlines     5
9  American Airlines   5

In [75]:
# SQL Select Airplane Name with Rating 5

sql7 = pd.read_sql('SELECT Airplane_Name,Rating FROM yelp Where Rating=5;',con=conn)
sql7

       Airplane_Name  Rating
0  JetBlue Airways    5
1  Hawaiian Airlines  5
2  Alaska Airlines    5
3  American Airlines  5

In [78]:
# SQL Select Airplane Name with Minimum Rating

sql8 = pd.read_sql('SELECT Airplane_Name, Min(Rating)AS Min_Rating  from yelp;',con=conn)
sql8

       Airplane_Name  Min_Rating
0  Frontier Airlines  2

In [82]:
# SQL Select Airplane Name, Review and User Name where rating=5

sql9 = pd.read_sql('SELECT Airplane_Name,Review_One,User_name ,Rating FROM yelp Where Rating=5;',con=conn)
sql9

,Airplane_Name,Review_One,User_Name,Rating
0,JetBlue Airways,"JetBlue is my favorite airline, and I try to travel with them whenever I can. Their service is great, and saying that about an airline is hard to do....",Jen K.,5
1,Hawaiian Airlines,OK - I made Platinum status. I get two first class upgrades.\nYes. \nI would normally not pay for first class because I am not over 6 feet so do not need a...,T. Anthony N.,5
2,Alaska Airlines,Alaska Airlines and my experiences:\n1- I like that the airplanes are always clean. There is no garbage compare with other airlines. I know that a lot of...,Marie N.,5
3,American Airlines,"Sorry, not sorry. My review will not be a low rating one.\n\nI missed my morning flight thanks to 3 hours of LA traffic and Spirit didnt let me through to my...",Lawrence M.,5

In [83]:
# SQL Select Airplane Name, Review and User Name where rating is less than 5

sql10 = pd.read_sql('SELECT Airplane_Name,Review_One,User_name,Rating FROM yelp Where Rating <5;',con=conn)
sql10

,Airplane_Name,Review_One,User_Name,Rating
0,Southwest Airlines,"Normally, Southwest is a guaranteed 5-stars every time. At LAX, they lose a star for crappy baggage claim and their totally unacceptable luggage delivery...",Dave C.,4
1,Delta,"When I travel domestically, I either travel Delta or Southwest. Usually it's Delta and 9 times out of 10 my layover will be in Atlanta...so I've flown...",Leah A.,4
2,Allegiant,"Okay. Now I have taken the flight I could not get out of a couple months ago. We are having a great time celebrating the New Year in Vegas.\n\nFor its part,...",JP C.,3
3,United Airlines,"After having a rather grueling and uncomfortable flight heading to California, I was quite pleased with this airline. They say it's the small things, for...",John L.,4
4,Virgin America,I used Virgin Airlines last year to go to Hawaii for my wedding. I have some disabilities and they accommodated by providing bulk head seats in the front of...,Anonymous Critic B.,4
5,Frontier Airlines,"Frontier is definitely one of the worst airlines bin Denver, horrible notification system has passengers running from gate to gate.\nAlso please print out...",Beata J.,2

# Importing Manufacturers data from csv file

In [121]:
Airplane_Manu = pd.read_csv("/Users/abhipatodi/Desktop/Airplanes_Manufacturer.csv",encoding = "ISO-8859-1")
Airplane_Manu

        Airplane_Name                      Manufacturer_Name
0  Southwest Airlines  Boeing Business Jets
1  JetBlue Airways     Airbus
2  Delta               Boeing Business Jets, Airbus
3  Hawaiian Airlines   Boeing Business Jets, Airbus
4  Alaska Airlines     Boeing Business Jets, Airbus, Embraer
5  American Airlines   Airbus
6  Allegiant           Boeing Business Jets, Airbus
7  United Airlines     Boeing Business Jets, Airbus
8  Virgin America      Airbus
9  Frontier Airlines   Airbus

# Creating Airplanes Manufacturers Table

In [124]:

cursor.execute(""" CREATE TABLE IF NOT EXISTS airplanes_manufacturers
                  (Airplane_Name Varchar(250) PRIMARY KEY, Manufacturer_Name Varchar(250))""")

In [125]:
Airplane_Manu.to_sql(name='airplanes_manufacturers',con=conn,index=False, if_exists='append')

# Showing Airplanes Manufacturers table in dataframe

In [143]:
airplanes_manufacturers_table=pd.read_sql("SELECT Airplane_Name,Manufacturer_Name FROM airplanes_manufacturers;",con = conn)
airplanes_manufacturers_table

        Airplane_Name                      Manufacturer_Name
0  Southwest Airlines  Boeing Business Jets
1  JetBlue Airways     Airbus
2  Delta               Boeing Business Jets, Airbus
3  Hawaiian Airlines   Boeing Business Jets, Airbus
4  Alaska Airlines     Boeing Business Jets, Airbus, Embraer
5  American Airlines   Airbus
6  Allegiant           Boeing Business Jets, Airbus
7  United Airlines     Boeing Business Jets, Airbus
8  Virgin America      Airbus
9  Frontier Airlines   Airbus

# Importing Manufacturers details data from csv file

In [128]:
Manufacturer_Details= pd.read_csv("/Users/abhipatodi/Desktop/Manufacturer_Details.csv",encoding = "ISO-8859-1")
Manufacturer_Details

,Manufacturer_Names,Founder,Year_of_Origin
0,Boeing Business Jets,William Boeing,1999
1,Airbus,"Franz Josef Strauss, Roger Beteille, Henri Zeigler, Felix Kracht",1970
2,Embraer,Ozires Silva,1969

# Creating Manufacturers Details Table

In [129]:
cursor.execute(""" CREATE TABLE IF NOT EXISTS manufacturer_details
                  (Manufacturer_Names Varchar(250) PRIMARY KEY, Founder Varchar(250),Year_of_Origin int(11))""")

In [130]:
Manufacturer_Details.to_sql(name='manufacturer_details',con=conn,index=False, if_exists='append')

# Showing Manufacturers Details table in dataframe

In [144]:
manufacturer_details_table=pd.read_sql("SELECT Manufacturer_Names,Founder,Year_of_Origin FROM manufacturer_details;",con = conn)
manufacturer_details_table

,Manufacturer_Names,Founder,Year_of_Origin
0,Boeing Business Jets,William Boeing,1999
1,Airbus,"Franz Josef Strauss, Roger Beteille, Henri Zeigler, Felix Kracht",1970
2,Embraer,Ozires Silva,1969

# Importing Founder data from csv file

In [131]:

Founder_Details= pd.read_csv("/Users/abhipatodi/Desktop/Founder_Details.csv",encoding = "ISO-8859-1")
Founder_Details

,Founder,Occupation,Industry_Headquarters,Revenue,Area_Served,Website
0,William Boeing,Industrialist,"Chicago, Illinois",USD 56.729 billion,Worldwide,https://www.boeing.com/
1,Franz Josef Strauss,Politician,"Leiden, Netherlands",EURO 66.767 billion,Worldwide,https://www.airbus.com/
2,Henri Zeigler,Polytechnic Engineer,"Leiden, Netherlands",EURO 66.767 billion,Worldwide,https://www.airbus.com/
3,Roger Beteille,Aeronautical Engineer,"Leiden, Netherlands",EURO 66.767 billion,Worldwide,https://www.airbus.com/
4,Felix Kracht,German Engineer,"Leiden, Netherlands",EURO 66.767 billion,Worldwide,https://www.airbus.com/
5,Ozires Silva,Brazilian Entrepreneur,"Sao Paulo, Brazil",USD 19.8 billion,Worldwide,https://embraer.com/global/en

# Creating Founder Details Table

In [132]:
cursor.execute(""" CREATE TABLE IF NOT EXISTS founder_details
                  (Founder Varchar(250) PRIMARY KEY,Occupation Varchar(250) ,Industry_Headquarters Varchar(250), Revenue Varchar(250),Area_Served Varchar(250),Website Varchar(250))""")

In [133]:
Founder_Details.to_sql(name='founder_details',con=conn,index=False, if_exists='append')

# Showing Founder Details table in dataframe

In [145]:
Founder_Details_table=pd.read_sql("SELECT Founder, Occupation,Industry_Headquarters,Revenue,Area_Served,Website FROM founder_details;",con = conn)
Founder_Details_table

,Founder,Occupation,Industry_Headquarters,Revenue,Area_Served,Website
0,William Boeing,Industrialist,"Chicago, Illinois",USD 56.729 billion,Worldwide,https://www.boeing.com/
1,Franz Josef Strauss,Politician,"Leiden, Netherlands",EURO 66.767 billion,Worldwide,https://www.airbus.com/
2,Henri Zeigler,Polytechnic Engineer,"Leiden, Netherlands",EURO 66.767 billion,Worldwide,https://www.airbus.com/
3,Roger Beteille,Aeronautical Engineer,"Leiden, Netherlands",EURO 66.767 billion,Worldwide,https://www.airbus.com/
4,Felix Kracht,German Engineer,"Leiden, Netherlands",EURO 66.767 billion,Worldwide,https://www.airbus.com/
5,Ozires Silva,Brazilian Entrepreneur,"Sao Paulo, Brazil",USD 19.8 billion,Worldwide,https://embraer.com/global/en